<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                            
                        </li>
                    <% }) %>
                </ul>
                <div class="centered">
                    <h2>Total: $<%= totalSum %></h1>
                </div>
                <div class="centered">
                    <button id="order-btn" data-session-id="<%= sessionId %>">ORDER</button>
                    <script src="https://js.stripe.com/v3/"></script>
                    <script src="/js/stripe.js"></script>
                </div>
            <% } else { %>
                <h1>No items in checkout.</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>